/* Titre */
.Titre{
    margin: 1% 1% 1% 1%;
    font-size: var(--CoreX-Titrefont-size);
    color: var(--CoreX-color);
    padding: 1%;
    word-wrap: break-word;
}
/* Sous Titre */
.SousTitre{
    margin: 1%;
    font-size: 2vw;
    color: var(--CoreX-color);
}
/* Texte */
.Text{
    margin: 1%;
    font-size: var(--CoreX-font-size);
}
/* Button */
.Button{
    margin: 4vh 0vh 1vh 0vh;
    padding: 1vh 2vh 1vh 2vh;
    cursor: pointer;
    border: 1px solid var(--CoreX-color);
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: var(--CoreX-font-size);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    color: rgb(44,1,21);
    background: white;
    outline: none;
}
.Button:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
.DivContent{
    padding: 1px;
    margin: 20px auto 10px auto;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
screen and (max-width: 700px)
{
    .Titre{font-size: var(--CoreX-TitreIphone-font-size);}
    .SousTitre{font-size: 5vw;}
    .Text{font-size: var(--CoreX-Iphone-font-size);}
    .Button{font-size: var(--CoreX-Iphone-font-size); border-radius: 40px;}
}

@media screen and (min-width: 1200px)
{
    .Titre{font-size: var(--CoreX-TitreMax-font-size);}
    .SousTitre{font-size: 24px;}
    .Text{font-size: var(--CoreX-Max-font-size);}
    .Button{font-size: var(--CoreX-Max-font-size); border-radius: 40px;}
    .DivContent{width: 1100px;}
}