.ActionBox{
    border: 1px solid var(--CoreX-color);
    border-radius: 20px;
    width: 50%;
    padding: 2%;
}

.ActionWidth {
    width: 60%;
}
.ActionSmallWidth {
    width: 30%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
screen and (max-width: 700px)
{
    .ActionBox{width: 90%;}
    .ActionWidth {width: 90%;}
    .ActionSmallWidth {width: 45%;}
}

@media screen and (min-width: 1200px)
{
    
}