/* Texte dans un titre box */
.TextBoxTitre{
    font-size: calc(var(--CoreX-font-size)*1.1);
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    color: black;
}

/* Element d'une liste avec un clic */
.ListElement{
    width:100%;
    padding:1% 0% 1% 0%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 15px;
}
.ListElement:hover{
    background-color: #F8F8F8;
}

/* PlayGpio view*/
.ActionButton{
    width: auto;
}
.ActionWidth {
    width: 40%;
}
.ActionSmallWidth {
    width: 20%;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
screen and (max-width: 700px)
{
    .TextBoxTitre{font-size: calc(var(--CoreX-Iphone-font-size)*1.1);}
    .ListElement {margin-top: 2%; margin-bottom: 2%;}
    .ActionWidth {width: 70%;}
    .ActionSmallWidth {width: 35%;}
    .ActionButton{width: 40%;}
}

@media screen and (min-width: 1200px)
{
    .TextBoxTitre{font-size: calc(var(--CoreX-Max-font-size)*1.1);}
}