/* Titre */
.Titre{
    margin: 4% 0% 4% 0%;
    font-size: var(--CoreX-Titrefont-size);
    color: var(--CoreX-color);
    word-wrap: break-word;
}
/* Sous Titre */
.SousTitre{
    margin: 1%;
    font-size: 2vw;
    color: var(--CoreX-color);
}
/* Texte */
.Text{
    font-size: var(--CoreX-font-size);
}
/* Texte dans un titre box */
.TextBoxTitre{
    font-size: calc(var(--CoreX-font-size)*1.1);
    font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
    color: black;
}
/* Button */
.Button{
    margin: 4vh 0vh 1vh 0vh;
    padding: 1vh 2vh 1vh 2vh;
    cursor: pointer;
    border: 1px solid var(--CoreX-color);
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    font-size: var(--CoreX-font-size);
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
    color: rgb(44,1,21);
    background: white;
    outline: none;
}
.Button:hover{
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
}
/* Input Text */
.InputText{
    width: 20%;
    text-align: right;
}
/* Input */
.Input {
    font-size: var(--CoreX-font-size);
    padding: 1vh;
    border: solid 0px #dcdcdc;
    border-bottom: solid 1px transparent;
    margin: 1%;
}
.Input:focus,
.Input.focus {
    outline: none;
    border: solid 0px #707070;
    border-bottom-width: 1px;
    border-color: var(--CoreX-color);
}
.Input:hover{
    border-bottom-width: 1px;
    border-color: var(--CoreX-color);
}
.WidthSmall {
    width: 30%;
}
/* Drop Down */
.DorpDown{
    background: transparent;
    margin: 1%;
    padding: 1vh;
    border-radius: 15px;
}
.DorpDown:focus {
    outline: 0;
}
/* Element d'une liste avec un clic */
.ListElement{
    width:100%;
    padding:1% 0% 1% 0%;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 15px;
}
.ListElement:hover{
    background-color: #F8F8F8;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait),
only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait),
screen and (max-width: 700px)
{
    .Titre{font-size: var(--CoreX-TitreIphone-font-size);}
    .SousTitre{font-size: 5vw;}
    .Text{font-size: var(--CoreX-Iphone-font-size);}
    .TextBoxTitre{font-size: calc(var(--CoreX-Iphone-font-size)*1.1);}
    .Button{font-size: var(--CoreX-Iphone-font-size); border-radius: 40px;}
    .InputText{width: 40%;}
    .Input {
        font-size: var(--CoreX-Iphone-font-size);
        border-bottom: solid 1px #dcdcdc;
    }
    .WidthSmall {
        width: 50%;
    }
}

@media screen and (min-width: 1200px)
{
    .Titre{font-size: var(--CoreX-TitreMax-font-size);}
    .SousTitre{font-size: 24px;}
    .Text{font-size: var(--CoreX-Max-font-size);}
    .TextBoxTitre{font-size: calc(var(--CoreX-Max-font-size)*1.1);}
    .Button{font-size: var(--CoreX-Max-font-size); border-radius: 40px;}
    .Input {font-size: var(--CoreX-Max-font-size);}
}